<footer class="footer">
  <div class="footer-top-container">
    <div class="footer-logo-container">
      <img src="/images/logos/reddam-logo.png" alt="Reddam logo" />
    </div>
    <nav class="footer-nav">
      <ul class="ul">
        <li><a href="">Enter Now</a></li>
        <li><a href="">How It Works</a></li>
        <li><a href="">Pricing</a></li>
        <li><a href="">About</a></li>
      </ul>
    </nav>
    <div class="footer-socials">
      <div class="footer-icon-container">
        <a href="https://facebook.com" target="_blank"
          ><img src="/images/icons/Facebook.svg" alt="facebook icon"
        /></a>
      </div>
      <div class="footer-icon-container">
        <a href="https://instagram.com" target="_blank"
          ><img src="/images/icons/Instagram.svg" alt="Instagram icon"
        /></a>
      </div>
      <div class="footer-icon-container">
        <a href="https://x.com" target="_blank"
          ><img src="/images/icons/x.svg" alt="x icon"
        /></a>
      </div>
      <div class="footer-icon-container">
        <a href="https://linkedin.com" target="_blank"
          ><img src="/images/icons/LinkedIn.svg" alt="LinkedIn icon"
        /></a>
      </div>
      <div class="footer-icon-container">
        <a href="https://youtube.com" target="_blank"
          ><img src="/images/icons/Youtube.svg" alt="Youtube icon"
        /></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom-container">
    <div class="footer-copyright-container">
      <p>&copy; 2025 Inspired Schools. All rights reserved.</p>
    </div>
    <div class="footer-inspired-logo-container">
      <img src="/images/logos/inspired_logo_colour.png" alt="inspired_logo" />
    </div>
    <div class="footer-legal-container">
      <a href="#" class="footer-legal-link">Privacy Policy</a>
      <a href="#" class="footer-legal-link">Terms of Service</a>
    </div>
  </div>
</footer>
