:root {
  --font-roboto: "Roboto", sans-serif;
  --font-opensans: "Open Sans", sans-serif;

  --font-size-xl: 3rem;
  --font-size-lg: 1.875rem;
  --font-size-md: 1.125rem;
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;

  --color-blue-dark: #101c3d;
  --color-blue-base: #152550;
  --color-blue-light: #1e3061;

  --color-gold-dark: #9e8a4d;
  --color-gold-base: #b09c5f;
  --color-gold-light: #bfaa67;

  --color-gray-dark: #81848a;
  --color-gray-light: #b6b9c2;

  --color-white-dark: #f0f4ff;
  --color-white-base: #f5f8ff;
  --color-white-light: #fff;

  --gap-xl: 5rem;
  --gap-lg: 2rem;
  --gap-md: 1.5rem;
  --gap-base: 1rem;
  --gap-sm: 0.5rem;

  --border-radius-base: 1.5rem;
}

body {
  background-color: var(--color-white-base);
  color: var(--color-blue-dark);
  font-family: var(--font-opensans);
}

.h1,
.h2,
.h3 {
  font-family: var(--font-roboto);
}

.h1 {
  font-size: var(--font-size-xl);
  line-height: 1.5;
  font-weight: 800;
  letter-spacing: 2px;
}

.h2 {
  font-size: var(--font-size-lg);
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 1px;
}

.h3 {
  font-size: var(--font-size-md);
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.p {
  font-family: var(--font-opensans);
  line-height: 1.6;
}

.container {
  padding: 5rem 2rem;
  max-width: 1400px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 0.85em 1.68em;
  border-radius: 35px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn.primary {
  background-color: var(--color-blue-dark);
  color: var(--color-white-base);
}

.btn.primary:hover {
  color: var(--color-blue-dark);
  background-color: var(--color-white-base);
}

.btn.secondary {
  background-color: transparent;
  color: var(--color-blue-dark);
  border: 1px solid var(--color-blue-dark);
}

.btn.secondary:hover {
  background-color: var(--color-blue-dark);
  color: var(--color-white-base);
}

.btn.primary,
.btn.secondary {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--color-blue-dark);
}

.btn.tertiary {
  color: var(--color-gold-dark);
  text-transform: none;
  padding: unset;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
  transition: all 0.3s ease;
}

.btn.tertiary:hover {
  gap: var(--gap-base);
}

.btn.tertiary > img {
  max-width: 7px;
}

.btn.quaternary {
  background-color: var(--color-gold-dark);
  color: var(--color-white-base);
  border: 1px solid var(--color-white-base);
}

.btn.quaternary:hover {
  background-color: transparent;
}

/* HEADER */

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--color-white-base);
  z-index: 10;
}

.logo {
  display: flex;
  flex: 1;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  text-transform: uppercase;
}

.nav > .ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-lg);
  font-weight: 500;
}

.cta-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

/* HERO */
.hero-section {
  min-height: 100vh;
  padding-top: 143px; /* Header height */
}

.hero-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
  max-width: 565px;
}

.hero-content-main {
  display: flex;
  flex-direction: column;
}

.hero-content-span {
  font-size: var(--font-size-md);
  color: var(--color-gray-dark);
}

.hero-content-dates {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.hero-content-dates > * {
  font-weight: 700;
}

.hero-content-dates .date {
  text-decoration: underline;
}

.hero-content-cta {
  padding-top: 1rem;
  display: flex;
  gap: var(--gap-md);
}

.hero-content-carousel {
  position: relative;
  width: 600px;
  height: 600px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius-base);
}

.carousel {
  display: flex;
  width: 300%; /* Assuming 3 images */
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 600px;
  height: 650px;
  object-fit: cover;
  border-radius: var(--border-radius-base);
  border: 1px solid var(--color-gray-light);
  flex-shrink: 0;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  gap: var(--gap-sm);
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-indicators .dot {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-indicators .dot.active {
  background-color: white;
}

/* EVENT CATEGORIES */
.event-categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xl);
}

.event-categories-title-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  max-width: 695px;
  text-align: center;
}

.event-categories-content-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--gap-lg);
  max-width: 900px;
}

.event-categories-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-base);
}

.event-categories-card > img {
  max-width: 80px;
}

.event-categories-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-sm);
  text-align: center;
}

.event-categories-card-text .p {
  font-size: var(--font-size-sm);
  color: var(--color-blue-light);
}

/* HOW IT WORKS */
.how-it-works-section {
  position: relative;
  background-color: var(--color-blue-dark);
  color: var(--color-white-light);
}

.how-it-works-section::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/pattern.svg");
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  pointer-events: none;
}

.how-it-works-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xl);

  position: relative;
  z-index: 2;
}

.how-it-works-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-sm);
}

.how-it-works-content-container {
  display: flex;
  gap: var(--gap-base);
  max-height: 450px;
}

.how-it-works-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-white-base);
  color: var(--color-blue-dark);
  border: 1px solid var(--color-gold-base);
  box-shadow: 4px 4px 0px rgb(0, 0, 0);
  border-radius: var(--border-radius-base);
}

.how-it-works-card.wide {
  flex-direction: row;
}

.how-it-works-card-text-container {
  padding: 1.75rem 3rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  /* max-width: 206px; */
}

.how-it-works-card-step {
  font-size: var(--font-size-xs);
  color: var(--color-gold-base);
  font-weight: 500;
}

.how-it-works-card-title-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  max-width: 225px;
}

.how-it-works-card-title-container > h3 {
  font-size: var(--font-size-md);
  font-weight: 600;
}

.how-it-works-card-title-container > p {
  font-size: var(--font-size-sm);
}

.how-it-works-card-image-container {
  /* border-top: 1px solid var(--color-gray-light); */
  border-bottom-left-radius: var(--border-radius-base);
  border-bottom-right-radius: var(--border-radius-base);
  overflow: hidden;
}

.how-it-works-card-image-container.wide-img-container {
  border-left: 1px solid var(--color-gray-light);
  border-top-right-radius: var(--border-radius-base);
  border-bottom-right-radius: var(--border-radius-base);
  border-bottom-left-radius: 0px;
  border-top: unset;
}

.how-it-works-card-image-container > img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: var(--border-radius-base);
  border-bottom-right-radius: var(--border-radius-base);
  object-fit: cover;
  border-top: 1px solid var(--color-gray-light);
}

.how-it-works-card-image-container .wide-img {
  border-top-right-radius: var(--border-radius-base);
  /* border-bottom-right-radius: var(--border-radius-base); */
  border-bottom-left-radius: 0px;
  border-left: 1px solid var(--color-gray-light);
  border-top: unset;
}

/* PARTICIPATING SCHOOLS */
.participating-schools-section {
  background-color: var(--color-white-light);
}

.participating-schools-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xl);
}

.participating-schools-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-sm);
  max-width: 815px;
  text-align: center;
}

.participating-schools-logos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-base);
}

.participating-schools-logos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-xl);
  max-width: 800px;
}
