.upload-section {
  padding-top: var(--header-height);
}

.upload-section > .container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
}

.upload-header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}

.upload-year-selection-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.year-dropdown {
  position: relative;
  display: flex;
  gap: var(--gap-sm);
  border: 1px solid var(--color-gray-light);
  border-radius: 20px;
}

.year-dropdown > select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-gray-base);
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
}

.dropdown-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  pointer-events: none;
}

.upload-header-container-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-md);
}

.upload-header-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-sm);
}

.upload-header-title-container > h2 {
  font-size: var(--font-size-md);
}

.upload-header-container-inner > p {
  font-size: var(--font-size-sm);
  font-style: italic;
  color: var(--color-gray-dark);
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.how-it-works-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid var(--color-blue-dark);
  font-weight: 800;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.tooltip-text {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  background-color: var(--color-white-light);
  border: 1px solid var(--color-gray-light);
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.tooltip-wrapper:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal {
  background: var(--color-white-light);
  padding: 4rem;
  max-width: 500px;
  border-radius: var(--border-radius-base);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.95);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  z-index: 501;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
  align-items: center;
}

.modal-content > ul {
  list-style: decimal;
}

.modal-overlay.active,
.modal.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.modal-content.hidden {
  display: none !important;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  max-width: 20px;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--color-gray-dark);
}

.modal-close:hover {
  color: var(--color-red);
}

.modal-actions {
  display: flex;
  gap: var(--gap-md);
}

.modal-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-sm);
}

.upload-main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: var(--gap-md);
  flex-wrap: wrap;
}

.contestant-total-items-container {
  display: flex;
  gap: var(--gap-base);
  align-items: center;
  color: var(--color-gray-dark);
}

.contestant-selection-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.contestant-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-gray-light);
  border-radius: 50px;
  background-color: var(--color-white-light);
  padding: 1rem;

  width: 180px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.contestant-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  /* padding: 0.5rem 1rem; */
  border: none;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-icon {
  position: absolute;
  right: 12px;
  width: 12px;
  pointer-events: none;
}

.upload-search-container {
  display: flex;
  flex-direction: column;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  border-radius: 6px;
  overflow: hidden;
}

.search-bar {
  width: 450px;
  padding: 1rem;
  border: none;
  font-size: var(--font-size-sm);
  border-radius: 50px;
  outline: none;
  border: 1px solid var(--color-gray-light);
  position: relative;
}

.search-btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: var(--color-blue-dark);
  color: var(--color-white-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50px;
}

.upload-main-container,
.upload-main-table-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.no-entries {
  padding-block: 6rem;
  width: 100%;
  border: 1px solid var(--color-gray-light);
  background-color: var(--color-white-light);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-entries > p,
.no-entries-register > p {
  font-size: var(--font-size-sm);
}

.no-entries-register {
  padding-block: 2rem;
  width: 100%;
  border: 1px solid var(--color-gray-dark);
  background-color: var(--color-gray-lightest);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploading-container {
  background-color: var(--color-gray-lightest);
  border: 1px dotted var(--color-gray-dark);
  width: 100%;
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  align-items: center;
  text-align: center;
  width: 100%;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.uploading-title-container {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}

.uploading-container p {
  font-weight: 600;
  /* margin-bottom: 10px; */
}

.uploading-progress-bar {
  width: 400px;
  height: 10px;
  background-color: var(--color-gray-dark);
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.upload-file-support {
  font-size: var(--font-size-sm);
  font-style: italic;
  font-weight: 400 !important;
}

.uploading-progress-bar::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 40%; /* Adjust this dynamically with JS */
  background-color: var(--color-blue-dark);
  border-radius: 6px;
}

.uploading-actions {
  display: flex;
  justify-content: center;
  gap: var(--gap-lg);
}

.uploading-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* cursor: pointer; */
}

.uploading-action img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.uploading-action p {
  font-size: 14px;
  margin-top: 5px;
}

.upload-entries-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-base);
}

.upload-entry-container {
  background-color: var(--color-white-light);
  border: 1px solid var(--color-gray-lightest);
  padding: 1.5rem;
  border-radius: 12px;
  width: 100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}

.dropdown-collapsible {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}

.upload-entry-main-files.open {
  max-height: 1000px; /* Large enough to fit your content */
  opacity: 1;
}

.upload-entry-header {
  background-color: var(--color-blue-dark);
  color: var(--color-white-light);
  padding: 1.5rem;
  font-weight: bold;
  border-radius: 12px;
  text-align: center;
}

.main-files-title-container,
.supporting-files-title-container {
  cursor: pointer;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-sm);
}

.main-files-title-container.collapsed,
.supporting-files-title-container.collapsed {
  border-bottom: 1px solid var(--color-gray-lightest);
}

.main-files-title-container > p,
.supporting-files-title-container > p {
  font-size: var(--font-size-sm);
}

.main-files-title,
.supporting-files-title {
  display: flex;
  gap: var(--gap-sm);
}

.main-files-title > p,
.supporting-files-title > p {
  font-weight: 600;
}

.main-files-title > img,
.supporting-files-title > img {
  max-width: 12px;
}

.table-container {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--color-gray-light);
}

.entry-files-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 12px;
}

.entry-files-table th {
  background-color: var(--color-gray-lightest);
  /* color: white; */
  font-weight: bold;
  padding: 12px;
  text-align: left;
}

.entry-files-table tr,
.entry-files-table td {
  padding: 10px;
}

.retry-btn {
  outline: 0;
  border: none;
  background-color: transparent;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.btn.destructive {
  background-color: #852221;
  color: var(--color-white-light);
}

.status-container {
  display: flex;
  gap: var(--gap-sm);
  width: 100% !important;
}

.entry-files-table tr {
  font-size: var(--font-size-sm);
}

.entry-files-table tr:not(:last-child) {
  border-bottom: 1px solid var(--color-gray-light);
}

.entry-files-table thead th:first-child {
  border-top-left-radius: 10px;
}
.entry-files-table thead th:last-child {
  border-top-right-radius: 10px;
}
.entry-files-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
.entry-files-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.entry-files-table th:nth-child(1),
.entry-files-table td:nth-child(1) {
  width: 25%;
}

.entry-files-table th:nth-child(2),
.entry-files-table td:nth-child(2) {
  width: 25%;
}

.entry-files-table th:nth-child(3),
.entry-files-table td:nth-child(3) {
  width: 30%;
}

.entry-files-table th:nth-child(4),
.entry-files-table td:nth-child(4) {
  width: 20%;
}

/* Zebra striping: alternate row colors */
.entry-files-table tbody tr:nth-child(even) {
  background-color: var(--color-white-base);
}

.entry-cta-container {
  padding: 2rem;
  background-color: var(--color-blue-base);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-md);
}

.entry-global-status {
  display: flex;
  align-items: center;
  justify-content: center;
}

.entry-global-status-inner {
  display: flex;
  gap: var(--gap-sm);
  align-items: center;
  margin-top: 1rem;
  font-size: var(--font-size-sm);
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-md);
  margin-top: 2rem;
}

.page-btn {
  background-color: transparent;
  border: 1px solid var(--color-blue-dark);
  color: var(--color-blue-dark);
  font-size: var(--font-size-xs);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page-btn.active,
.page-btn:hover {
  background-color: var(--color-blue-dark);
  color: var(--color-white-light);
}

.dots {
  color: var(--color-gray-dark);
  font-weight: bold;
}
