.verify-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: var(--header-height);
  position: relative;
  color: var(--color-white-light);
}

.verify-section::before,
.verify-section::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

.verify-section::before {
  background-image: url("/images/register-bg.jpg");
}

.verify-section::after {
  background-color: rgba(0, 0, 0, 0.5);
}

.verify-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xl);

  z-index: 2;
}

.verify-text-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  max-width: 550px;
}

.verify-form-container {
  border: 1px solid var(--color-gray-light);
  padding: 4rem;
  background-color: var(--color-white-light);
  color: var(--color-blue-dark);
  border-radius: var(--border-radius-base);
  display: flex;
  flex-direction: column;

  gap: var(--gap-md);
}

.verify-form-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-sm);
  text-align: center;
}

.verify-form-container > h2 {
  font-size: var(--font-size-lg);
  text-align: center;
}

.verify-form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.otp-container {
  display: flex;
  justify-content: center;
  gap: var(--gap-sm);
}

.otp-input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: var(--font-size-lg);
  border: 1.25px solid var(--color-gray-light);
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

.otp-input:focus {
  outline: none;
  border-color: var(--color-blue-dark);
}

.verify-form-button-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.btn.secondary.disabled {
  opacity: 0.2;
}

.verify-code-expiry {
  font-size: var(--font-size-xs);
  text-align: center;
}

@media (max-width: 650px) {
  .verify-section {
    padding-top: 0;
  }
  .verify-form-container {
    padding: 3rem 2rem;
    width: 100%;
  }

  .otp-input {
    width: 40px;
    height: 40px;

    font-size: var(--font-size-md);
    border: 1.25px solid var(--color-gray-light);
  }
}

@media (max-width: 400px) {
  .verify-form-container {
    padding: 2rem 1rem;
  }
}
